.root {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 2rem auto 0 auto;
    height: fit-content;
}

.root_list {
    list-style: none;
}

.root_list_element {
    display: flex;
    margin-bottom: 0.5rem;
    align-items: center;
}

.root_list_item {
    cursor: pointer;
    padding-left: 0.5rem;
}

.fallback {
    display: block;
}